    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a href="/" class="navbar-brand">
        <img width="70" alt="Angular Logo" src="https://www.foodretail.es/2020/05/27/retailers/delivery-plena-efervescencia-Covid-19_1441365868_460221_660x372.jpg">
        Kooguen App
      </a>
      <ul class="navbar-nav">
        <li class="nav-item ml-auto">
          <a [routerLink]="['home']" class="navbar-brand">Inicio
          </a>
        </li>
        <li class="nav-item" ml-auto>
          <a [routerLink]="['messages']" class="navbar-brand" >Lista de Entregas</a>
        </li>
        <li class="nav-item" ml-auto>
          <a href="/settings" class="navbar-brand">Log out</a>
        </li>
      </ul>
  </div> 
</nav>